*{
    margin: 0; 
    padding: 0;
    font-family: sans-serif;
}

.banner{
    width: 100%;
    height: 140vh;
    background-image: linear-gradient(rgba(0,0,0,0.60),rgba(0,0,0,0.60)), url(Register.png);
    background-size: cover;
    background-position: center;
}

.navbar{
    width: 95%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul {
    display: flex;
    justify-content: center; 
    align-items: center;
    margin: 0px 10px;
}

.logo {
    max-width: 120px;
    cursor: pointer;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0px 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: teal;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}


button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid teal;
    background: transparent;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
   
}

span{
    background: teal;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span{
    width: 100%;
}

button:hover{
    border: none;
}



p{
    margin-left: -170px;
}

.navbar .dropdown {
    position: relative;
    display: inline-block;
  }
  
 
  .navbar .dropdown-content {
    display: none;
    position: absolute;
    background-color:transparent; 
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: -13px;
  }
  
 
  .navbar .dropdown-content a {
    color:white; 
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
 
  .navbar .dropdown-content a:hover {
    background-color:transparent;
  }
  
 
  .navbar .dropdown:hover .dropdown-content {
    display: block;
  }
  
  
  .navbar .dropdown:hover {
    background-color:transparent; 
  }

  a{
    text-decoration: none;
    color: white;
    
  }

  li{

    list-style-type: none;
    font-size: medium;

  }

input[type="text"] {
    
    width: 20%; 
    padding: 10px; 
    margin: 10px 0; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
}

h6{

    color:white;
}

input[type="number"], input[type="email"],input[type="password"] {

         width: 20%; 
         padding: 10px; 
         margin: 10px 0; 
         border: 1px solid #ccc; 
         border-radius: 4px; 
}

.register{

    width: 100%;
    position: absolute;
    top: 80%;
    transform: translateY(-50%);
    text-align: center;
    color: white;

}

