*{

    margin: 0; 
    padding: 0;
    font-family: sans-serif;
    
    }
    
    .banner{
    
    width: 100%;
    
    height: 430vh;
    
    background-image: linear-gradient(rgba(0,0,0,0.70),rgba(0,0,0,0.70)), url(select.png);
    
    background-size: cover;
    
    background-position: center;
    
    }
    
    .navbar{
        width:95%;
        margin:auto;
        padding :50px 0;
        display: flex;
        align-items:center;
        justify-content:space-between;
    }
    
    
    .logo {
        max-width: 120px;
        cursor:pointer;
    }
    
    .navbar ul {
        display: flex;
        justify-content: center; 
        align-items: center;
        padding: 0;
    }
    
    .navbar ul li{
    
        list-style:none;
        display:inline-block;
        margin: 0px 15px;
        position:relative;
        font-size:16px;
    }
    
    .navbar ul li a{
        text-decoration:none;
        color:white;
        text-transform:uppercase;
    }
    
    .navbar ul li::after{
        content:'';
        height:3px;
        width:0;
        background: teal;
        position:absolute;
        left:0;
        bottom:-5px;
        transition: 0.5s;
    }
    
    .navbar ul li:hover::after{
        width:100%;
    }
    
    
    .grid h2 , .grid h3 , .grid p , .grid li{
    
        color:white;
    
    }
    
    
    section[aria-label="Subscribe example"] {
        
        margin-top: 20px;
        border-radius: 8px;
    }

    
    .subscribe-section {
        margin-top: -100px; 
    }
    
    figure {
        display: flex; 
        justify-content: space-around; 
        flex-wrap: wrap; 
       
    }
    
    figure img {
        max-width: 32%; 
        height: auto; 
        
    }

    .navbar .dropdown {
        position: relative;
        display: inline-block;
      }
      
     
      .navbar .dropdown-content {
        display: none;
        position: absolute;
        background-color:transparent; 
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        margin-left: -13px;
      }
      
      
      .navbar .dropdown-content a {
        color:white; 
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
      
      
      .navbar .dropdown-content a:hover {
        background-color:transparent 
      }
      
      
      .navbar .dropdown:hover .dropdown-content {
        display: block;
      }
      
     
      .navbar .dropdown:hover {
        background-color:transparent; 
      }