* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.banner {
    width: 100%;
    height: 150vh;
    background-image: linear-gradient(rgba(0,0,0,0.35),rgba(0,0,0,0.35)), url(contact.png);
    background-size: cover;
    background-position: center;
}

.navbar {
    width: 95%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    max-width: 120px;
    cursor: pointer;
}

.navbar ul {
    display: flex;
    justify-content: center; 
    align-items: center;
    margin: 0px 10px;
}

.navbar ul li.dropdown, .navbar ul li:last-child {
    margin-left: 9px; 
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: teal;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}
    

    button{
        width:200px;
        padding: 15px 0;
        text-align:center;
        margin:20px 10px;
        border-radius:25px;
        font-weight:bold;
        border:2px solid teal;
        background:transparent;
        color:white;
        cursor:pointer;
        position:relative;
        overflow:hidden;
        margin-top: 50px;
        margin-left:50px;
        transform:translateY(-50%);
    }
        
    span{
        background:teal;
        height:100%;
        width:0;
        border-radius:25px;
        position:absolute;
        left:0;
        bottom:0;
        z-index:-1;
        transition:0.5s;
    }
    
    button:hover span{
        width:100%;
    }
    
    button:hover{
        border:none;
    }
        
    input[type="text"], input[type="email"],input[type="tel"],textarea{
        width: 21%; 
        padding: 7px 10px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-left:50px;
        margin-bottom: 20px;;
    }
    
    input[type="text"]:first-child{

        margin-right: -45px;
    }

    input[type="text"] {
        width:124px;
        border: 1px solid #ccc;
        border-radius: 5px;
        flex-grow: 1;
    }

    h1,p{

        color:white;
        margin-left:50px;
        
    }

    .navbar .dropdown {
        position: relative;
        display: inline-block;
      }
      
     
      .navbar .dropdown-content {
        display: none;
        position: absolute;
        background-color:transparent; 
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        margin-left: -13px;
      }
      
      
      .navbar .dropdown-content a {
        color:white; 
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
      
      
      .navbar .dropdown-content a:hover {
        background-color:transparent; 
      }
      
     
      .navbar .dropdown:hover .dropdown-content {
        display: block;
      }
      
      
      .navbar .dropdown:hover {
        background-color:transparent; 
      }